version: '3.5'

#networks:
#  main:
#    name: monitoring-pro-graf


services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
#    networks:
#      - main


  grafana:
    image: grafana/grafana:4.5.2
    ports:
      - "3000:3000"  
#    networks:
#      - main
