@inherits LayoutComponentBase
@inject IMiniMain MiniMain

<title>Welcome | MiniTwit</title>
<div class="page">
    <h1>MiniTwit</h1>
  <div class=navigation>
    @if ("" != null)
    {
      <a href="">my timeline |</a> 
      <a href="">public timeline |</a> 
      <a href="">sign out [@MiniMain.User]</a>
    }
    else 
    {
    <a href="{{ url_for('public_timeline') }}">public timeline |</a> 
    <a href="{{ url_for('register') }}">sign up |</a> 
    <a href="{{ url_for('login') }}">sign in</a>
    }
  </div>
  @* {% with flashes = get_flashed_messages() %}
    {% if flashes %}
      <ul class=flashes>
      {% for message in flashes %}
        <li>{{ message }}
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %} *@
  <div class=body>
      @Body
  </div>
  <div class=footer>
    MiniTwit &mdash; A Flask Application
  </div>
</div>
