@inherits LayoutComponentBase
@inject IMiniMain MiniMain

<title>Welcome | MiniTwit</title>
<div class="page">
    <h1>MiniTwit</h1>
    <div class=navigation>
      @if (MiniMain.User != null)
      {
        <a href=@MiniMain.Url_for("timeline")>my timeline |</a> 
        <a href=@MiniMain.Url_for("public timeline")>public timeline |</a> 
        <a href=@MiniMain.Url_for("logout")>sign out [@MiniMain.User]</a>
        <a href=@MiniMain.Url_for("login")>sign in</a>
      }
      else 
      {
        <a href=@MiniMain.Url_for("public timeline")>public timeline |</a> 
        <a href=@MiniMain.Url_for("register")>sign up |</a> 
        <a href=@MiniMain.Url_for("login")>sign in</a>
      }
    </div>
    @* {% with flashes = get_flashed_messages() %}
      {% if flashes %}
        <ul class=flashes>
        {% for message in flashes %}
          <li>{{ message }}
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %} *@
    <div class=body>
        @Body
    </div>
  <div class=footer>
    MiniTwit &mdash; A ASP.NET Application
  </div>
</div>
