@page "/login"
@using Minitwit.Entities
@using System.ComponentModel.DataAnnotations
@inject IMiniMain MiniMain
@inject IUserState UserState
@inject NavigationManager NavigationManager;

<h2>Sign In</h2>
<EditForm Model=@loginUser OnValidSubmit=@HandleValidSubmit>
     <DataAnnotationsValidator />
    <dl>
      <dt>Username:</dt>
      <dd><InputText @bind-Value="loginUser.Username" /></dd>
      <dt>Password:</dt>
      <dd><InputText type="password" @bind-Value="loginUser.Password" /></dd>
    </dl>
    <div class=actions><input type=submit value="Sign In" /></div>
</EditForm>

@code {
    public class LoginUser
    {
        [Required]
        public string Username { get; set; }

        [Required]
        public string Password { get; set; }

    }

    private LoginUser loginUser = new LoginUser();

    private async Task HandleValidSubmit() 
    {
        await MiniMain.Login(loginUser.Username);
        int userID = UserState.User.user_id;

        if (userID == -1) 
        {
            MiniMain.FlashedMessages = new string[]{"Usernane does not exist"};
            NavigationManager.NavigateTo("login");
        } else if(MiniMain.MD5Hasher(loginUser.Password) == UserState.User.pwd)
        {
            UserState.User.user_id = userID;
            UserState.User.username = loginUser.Username;
            MiniMain.FlashedMessages = new string[]{"You were logged in"};
            NavigationManager.NavigateTo("");
        } 
        else
        {
            MiniMain.FlashedMessages = new string[]{"Incorrect password"};
            NavigationManager.NavigateTo("login");
        }
    }
}