@page "/login"
@using Minitwit.Entities
@using System.ComponentModel.DataAnnotations
@inject IMiniMain MiniMain
@inject User User;
@inject Repos.UserRepository UserRepository;

<h2>Sign In</h2>
<EditForm Model=@MiniMain.User OnValidSubmit=@HandleValidSubmit>
     <DataAnnotationsValidator />
    <dl>
      <dt>Username:</dt>
      <dd><InputText @bind-Value="loginUser.Username" /></dd>
      <dt>Password:</dt>
      <dd><InputText @bind-Value="loginUser.Password" /></dd>
    </dl>
    <div class=actions><input type=get value="Sign In" /></div>
</EditForm>

@code {
    public class LoginUser
    {
        [Required]
        public string Username { get; set; }

        [Required]
        public string Password { get; set; }

    }

    private LoginUser loginUser = new LoginUser();

    private void GetUserFromServer()
    {
        /*int userID = UserRepository.GetUserIDFromUsername(loginUser.Username);
        if (userID == -1) 
        {
            //throw error - "User does not exist"; 
            Console.WriteLine("User does not exist"); 
            return;
        }
        User userFromServer = UserRepository.GetUserFromID(userID);
        if (userFromServer == null) 
        {
            //throw error - "User does not exist / something went wrong"; 
            Console.WriteLine("User does not exist / something went wrong");
            return;
        }
        if (userFromServer.pw_hash == loginUser.Password) 
        {
            MiniMain.User = userFromServer;
        } else 
        {
            //throw error - "Incorrect password";
            Console.WriteLine("Incorrect password"); 
            return;
        }*/
    }

    private void HandleValidSubmit() 
    {
        Console.WriteLine("Done");
    }
}